<a href="https://colab.research.google.com/github/Bhavleenk/Machine-Learning-Notebooks/blob/main/Regression/Simple_Linear_Regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Simple Linear Regression**

![image.png]()


# Ordinary Least Sqaures <br>
In the plot, how do we know which slope line is the best one? <br>
There can be multiple slope lines that we can draw through our data points. <br>
- To get get the best slope line, we use Ordinary Least Sqaures method. Take the data points and project them vertically onto linear reg line (do this for all lines). <br>
- For each point, we have y(high) and y(low). Take the difference (residual Ei) of  y(high) and y(low) i.e. is Sum(y(high) - y(low))^2 is min. <br>
- The line having smallest value is the best one.

# Importing the Libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# Importing the dataset

In [2]:
df = pd.read_csv("/content/Salary_Data.csv")
X = df.iloc[:,:-1]
y = df.iloc[:,-1]

In [3]:
print(X)

    YearsExperience
0               1.1
1               1.3
2               1.5
3               2.0
4               2.2
5               2.9
6               3.0
7               3.2
8               3.2
9               3.7
10              3.9
11              4.0
12              4.0
13              4.1
14              4.5
15              4.9
16              5.1
17              5.3
18              5.9
19              6.0
20              6.8
21              7.1
22              7.9
23              8.2
24              8.7
25              9.0
26              9.5
27              9.6
28             10.3
29             10.5

In [4]:
print(y)

0      39343.0
1      46205.0
2      37731.0
3      43525.0
4      39891.0
5      56642.0
6      60150.0
7      54445.0
8      64445.0
9      57189.0
10     63218.0
11     55794.0
12     56957.0
13     57081.0
14     61111.0
15     67938.0
16     66029.0
17     83088.0
18     81363.0
19     93940.0
20     91738.0
21     98273.0
22    101302.0
23    113812.0
24    109431.0
25    105582.0
26    116969.0
27    112635.0
28    122391.0
29    121872.0
Name: Salary, dtype: float64

# Splitting the Dataset into the Training set and Test set

In [5]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.3, random_state=0)